# Question 01:

In [1]:
import sqlite3
from sqlite3 import Error

def sql_connection():
    try:
        con=sqlite3.connect('bilal.db')
        return con
    except Error:
        print(Error)

def sql_table(con):
    cursorObj=con.cursor()
    cursorObj.execute("CREATE TABLE classmates(studentid integer PRIMARY KEY,name text,address text,department text,dOB real,hobbies text)")

    con.commit()
con = sql_connection()
sql_table(con)

In [7]:
#Insert 10 records in a table

import sqlite3
con = sqlite3.connect('bilal.db')

cursorObj = con.cursor()

cursorObj.execute("INSERT INTO classmates VALUES(1, 'Aslam','Garden West','CS','1999-08-12','studying')")
cursorObj.execute("INSERT INTO classmates VALUES(2, 'Rafay','Gulshan','SE','2001-03-10','studying')")
cursorObj.execute("INSERT INTO classmates VALUES(3, 'Owais','Gulshan','CS','2000-01-31','outing')")
cursorObj.execute("INSERT INTO classmates VALUES(4, 'Roahn','Maymar','SE','2002-01-18','reading')")
cursorObj.execute("INSERT INTO classmates VALUES(5, 'Arham','Garden West','CS','2000-01-22','programming')")
cursorObj.execute("INSERT INTO classmates VALUES(6, 'Junaid','Maymar','SE','2001-05-21','gaming')")
cursorObj.execute("INSERT INTO classmates VALUES(7, 'Ashfaq','Gulshan','CS','2001-03-10','gaming')")
cursorObj.execute("INSERT INTO classmates VALUES(8, 'Aamir','Fb area','SE','2002-09-01','reading')")
cursorObj.execute("INSERT INTO classmates VALUES(9, 'Irtiza','Yaseenabad','CS','2000-05-21','studying')")
cursorObj.execute("INSERT INTO classmates VALUES(10, 'Ahad','Gulshan','SE','2002-05-21','reading')")

con.commit()

IntegrityError: UNIQUE constraint failed: classmates.studentid

In [6]:
import sqlite3
con=sqlite3.connect('bilal.db')
def sql_table(con):
    cursorObj = con.cursor()
    cursorObj.execute("DELETE FROM classmates where studentid=8")
    con.commit()
sql_table(con)

In [8]:
import sqlite3
con=sqlite3.connect('bilal.db')
def sql_fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute('SELECT * FROM classmates')
    rows =cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

(1, 'Aslam', 'Garden West', 'CS', '1999-08-12', 'studying')
(2, 'Rafay', 'Gulshan', 'SE', '2001-03-10', 'studying')
(3, 'Owais', 'Gulshan', 'CS', '2000-01-31', 'outing')
(4, 'Roahn', 'Maymar', 'SE', '2002-01-18', 'reading')
(5, 'Arham', 'Garden West', 'CS', '2000-01-22', 'programming')
(6, 'Junaid', 'Maymar', 'SE', '2001-05-21', 'gaming')
(7, 'Ashfaq', 'Gulshan', 'CS', '2001-03-10', 'gaming')
(9, 'Irtiza', 'Yaseenabad', 'CS', '2000-05-21', 'studying')

In [9]:
import sqlite3
con=sqlite3.connect('bilal.db')
def sql_fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute('SELECT NAME FROM classmates where address="Gulshan"')
    rows =cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

('Rafay',)
('Owais',)
('Ashfaq',)

In [10]:
import sqlite3
con=sqlite3.connect('bilal.db')
def sql_fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute('SELECT NAME FROM classmates where hobbies="programming"')
    rows =cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

('Arham',)

# Question 02:

In [11]:
import sqlite3
con=sqlite3.connect("Northwind.db")
def sql_fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute('SELECT * FROM Products')
    rows =cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18, 39, 0, 10, 0, None)
(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19, 17, 40, 25, 0, None)
(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 13, 70, 25, 0, None)
(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22, 53, 0, 0, 0, None)
(5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21.35, 0, 0, 0, 1, '1996-07-04 00:00:00')
(6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25, 120, 0, 25, 0, None)
(7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30, 15, 0, 10, 0, None)
(8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40, 6, 0, 0, 0, None)
(9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97, 29, 0, 0, 1, '1996-07-04 00:00:00')
(10, 'Ikura', 4, 8, '12 - 200 ml jars', 31, 31, 0, 0, 0, None)
(11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21, 22, 30, 30, 0, None)
(12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38, 86, 0, 0, 0, None)
(13, 'Konbu', 6, 8, '2 kg box', 6, 24, 0, 5, 0, None)
(14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23.25, 35, 0, 0, 0, None)
(15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 15.5, 39, 0, 5, 0, None)
(16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17.45, 29, 0, 10, 0, None)
(17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39, 0, 0, 0, 1, '1996-07-04 00:00:00')
(18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62.5, 42, 0, 0, 0, None)
(19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 9.2, 25, 0, 5, 0, None)
(20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81, 40, 0, 0, 0, None)
(21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10, 3, 40, 5, 0, None)
(22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21, 104, 0, 25, 0, None)
(23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9, 61, 0, 25, 0, None)
(24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 4.5, 20, 0, 0, 1, '1996-07-04 00:00:00')
(25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14, 76, 0, 30, 0, None)
(26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31.23, 15, 0, 0, 0, None)
(27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 43.9, 49, 0, 30, 0, None)
(28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45.6, 26, 0, 0, 1, '1996-07-04 00:00:00')
(29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123.79, 0, 0, 0, 1, '1996-07-04 00:00:00')
(30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 25.89, 10, 0, 15, 0, None)
(31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 12.5, 0, 70, 20, 0, None)
(32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32, 9, 40, 25, 0, None)
(33, 'Geitost', 15, 4, '500 g', 2.5, 112, 0, 20, 0, None)
(34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14, 111, 0, 15, 0, None)
(35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18, 20, 0, 15, 0, None)
(36, 'Inlagd Sill', 17, 8, '24 - 250 g  jars', 19, 112, 0, 20, 0, None)
(37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26, 11, 50, 25, 0, None)
(38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263.5, 17, 0, 15, 0, None)
(39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18, 69, 0, 5, 0, None)
(40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 18.4, 123, 0, 30, 0, None)
(41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 9.65, 85, 0, 10, 0, None)
(42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14, 26, 0, 0, 1, '1996-07-04 00:00:00')
(43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46, 17, 10, 25, 0, None)
(44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19.45, 27, 0, 15, 0, None)
(45, 'Rogede sild', 21, 8, '1k pkg.', 9.5, 5, 70, 15, 0, None)
(46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12, 95, 0, 0, 0, None)
(47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 9.5, 36, 0, 0, 0, None)
(48, 'Chocolade', 22, 3, '10 pkgs.', 12.75, 15, 70, 25, 0, None)
(49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20, 10, 60, 15, 0, None)
(50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16.25, 65, 0, 30, 0, None)
(51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53, 20, 0, 10, 0, None)
(52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7, 38, 0, 25, 0, None)
(53, 'Perth Pasties', 24, 6, '48 pieces', 32.8, 0, 0, 0, 1, '1996-07-04 00:00:00')
(54, 'Tourtière', 25, 6, '16 pies', 7.45, 21, 0, 10, 0, None)
(55, 'Pâté chinois', 25, 6, '24 boxes x 2 pies', 24, 115, 0, 20, 0, None)
(56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38, 21, 10, 30, 0, None)
(57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 19.5, 36, 0, 20, 0, None)
(58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13.25, 62, 0, 20, 0, None)
(59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55, 79, 0, 0, 0, None)
(60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34, 19, 0, 0, 0, None)
(61, "Sirop d'érable", 29, 2, '24 - 500 ml bottles', 28.5, 113, 0, 25, 0, None)
(62, 'Tarte au sucre', 29, 3, '48 pies', 49.3, 17, 0, 0, 0, None)
(63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 43.9, 24, 0, 5, 0, None)
(64, 'Wimmers gute Semmelknödel', 12, 5, '20 bags x 4 pieces', 33.25, 22, 80, 30, 0, None)
(65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 21.05, 76, 0, 0, 0, None)
(66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17, 4, 100, 20, 0, None)
(67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14, 52, 0, 10, 0, None)
(68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 12.5, 6, 10, 15, 0, None)
(69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36, 26, 0, 15, 0, None)
(70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15, 15, 10, 30, 0, None)
(71, 'Flotemysost', 15, 4, '10 - 500 g pkgs.', 21.5, 26, 0, 0, 0, None)
(72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34.8, 14, 0, 0, 0, None)
(73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15, 101, 0, 5, 0, None)
(74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10, 4, 20, 5, 0, None)
(75, 'Rhönbräu Klosterbier', 12, 1, '24 - 0.5 l bottles', 7.75, 125, 0, 25, 0, None)
(76, 'Lakkalikööri', 23, 1, '500 ml', 18, 57, 0, 20, 0, None)
(77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13, 32, 0, 15, 0, None)

In [12]:
import sqlite3
con=sqlite3.connect("Northwind.db")
def sql_fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute('SELECT CategoryID,CategoryName,Description FROM Categories')
    rows =cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales')
(2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings')
(3, 'Confections', 'Desserts, candies, and sweet breads')
(4, 'Dairy Products', 'Cheeses')
(5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal')
(6, 'Meat/Poultry', 'Prepared meats')
(7, 'Produce', 'Dried fruit and bean curd')
(8, 'Seafood', 'Seaweed and fish')

In [13]:
import sqlite3
con=sqlite3.connect("Northwind.db")
def sql_fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute('SELECT ProductName,QuantityPerUnit FROM Products')
    rows =cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

('Chai', '10 boxes x 20 bags')
('Chang', '24 - 12 oz bottles')
('Aniseed Syrup', '12 - 550 ml bottles')
("Chef Anton's Cajun Seasoning", '48 - 6 oz jars')
("Chef Anton's Gumbo Mix", '36 boxes')
("Grandma's Boysenberry Spread", '12 - 8 oz jars')
("Uncle Bob's Organic Dried Pears", '12 - 1 lb pkgs.')
('Northwoods Cranberry Sauce', '12 - 12 oz jars')
('Mishi Kobe Niku', '18 - 500 g pkgs.')
('Ikura', '12 - 200 ml jars')
('Queso Cabrales', '1 kg pkg.')
('Queso Manchego La Pastora', '10 - 500 g pkgs.')
('Konbu', '2 kg box')
('Tofu', '40 - 100 g pkgs.')
('Genen Shouyu', '24 - 250 ml bottles')
('Pavlova', '32 - 500 g boxes')
('Alice Mutton', '20 - 1 kg tins')
('Carnarvon Tigers', '16 kg pkg.')
('Teatime Chocolate Biscuits', '10 boxes x 12 pieces')
("Sir Rodney's Marmalade", '30 gift boxes')
("Sir Rodney's Scones", '24 pkgs. x 4 pieces')
("Gustaf's Knäckebröd", '24 - 500 g pkgs.')
('Tunnbröd', '12 - 250 g pkgs.')
('Guaraná Fantástica', '12 - 355 ml cans')
('NuNuCa Nuß-Nougat-Creme', '20 - 450 g glasses')
('Gumbär Gummibärchen', '100 - 250 g bags')
('Schoggi Schokolade', '100 - 100 g pieces')
('Rössle Sauerkraut', '25 - 825 g cans')
('Thüringer Rostbratwurst', '50 bags x 30 sausgs.')
('Nord-Ost Matjeshering', '10 - 200 g glasses')
('Gorgonzola Telino', '12 - 100 g pkgs')
('Mascarpone Fabioli', '24 - 200 g pkgs.')
('Geitost', '500 g')
('Sasquatch Ale', '24 - 12 oz bottles')
('Steeleye Stout', '24 - 12 oz bottles')
('Inlagd Sill', '24 - 250 g  jars')
('Gravad lax', '12 - 500 g pkgs.')
('Côte de Blaye', '12 - 75 cl bottles')
('Chartreuse verte', '750 cc per bottle')
('Boston Crab Meat', '24 - 4 oz tins')
("Jack's New England Clam Chowder", '12 - 12 oz cans')
('Singaporean Hokkien Fried Mee', '32 - 1 kg pkgs.')
('Ipoh Coffee', '16 - 500 g tins')
('Gula Malacca', '20 - 2 kg bags')
('Rogede sild', '1k pkg.')
('Spegesild', '4 - 450 g glasses')
('Zaanse koeken', '10 - 4 oz boxes')
('Chocolade', '10 pkgs.')
('Maxilaku', '24 - 50 g pkgs.')
('Valkoinen suklaa', '12 - 100 g bars')
('Manjimup Dried Apples', '50 - 300 g pkgs.')
('Filo Mix', '16 - 2 kg boxes')
('Perth Pasties', '48 pieces')
('Tourtière', '16 pies')
('Pâté chinois', '24 boxes x 2 pies')
('Gnocchi di nonna Alice', '24 - 250 g pkgs.')
('Ravioli Angelo', '24 - 250 g pkgs.')
('Escargots de Bourgogne', '24 pieces')
('Raclette Courdavault', '5 kg pkg.')
('Camembert Pierrot', '15 - 300 g rounds')
("Sirop d'érable", '24 - 500 ml bottles')
('Tarte au sucre', '48 pies')
('Vegie-spread', '15 - 625 g jars')
('Wimmers gute Semmelknödel', '20 bags x 4 pieces')
('Louisiana Fiery Hot Pepper Sauce', '32 - 8 oz bottles')
('Louisiana Hot Spiced Okra', '24 - 8 oz jars')
('Laughing Lumberjack Lager', '24 - 12 oz bottles')
('Scottish Longbreads', '10 boxes x 8 pieces')
('Gudbrandsdalsost', '10 kg pkg.')
('Outback Lager', '24 - 355 ml bottles')
('Flotemysost', '10 - 500 g pkgs.')
('Mozzarella di Giovanni', '24 - 200 g pkgs.')
('Röd Kaviar', '24 - 150 g jars')
('Longlife Tofu', '5 kg pkg.')
('Rhönbräu Klosterbier', '24 - 0.5 l bottles')
('Lakkalikööri', '500 ml')
('Original Frankfurter grüne Soße', '12 boxes')

In [14]:
import sqlite3
con=sqlite3.connect("Northwind.db")
def sql_fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute('SELECT CategoryID,CategoryName,Description FROM Categories where CategoryName like "G%"')
    rows =cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

(5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal')

In [15]:
import sqlite3
con=sqlite3.connect("Northwind.db")
def sql_fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute('SELECT ProductID,ProductName FROM Products where discontinued="1" order by ProductName')
    rows =cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

(17, 'Alice Mutton')
(5, "Chef Anton's Gumbo Mix")
(24, 'Guaraná Fantástica')
(9, 'Mishi Kobe Niku')
(53, 'Perth Pasties')
(28, 'Rössle Sauerkraut')
(42, 'Singaporean Hokkien Fried Mee')
(29, 'Thüringer Rostbratwurst')

In [16]:
import sqlite3
con=sqlite3.connect("Northwind.db")
def sql_fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute('SELECT ProductID,ProductName FROM Products where discontinued="0" order by ProductName')
    rows =cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

(3, 'Aniseed Syrup')
(40, 'Boston Crab Meat')
(60, 'Camembert Pierrot')
(18, 'Carnarvon Tigers')
(1, 'Chai')
(2, 'Chang')
(39, 'Chartreuse verte')
(4, "Chef Anton's Cajun Seasoning")
(48, 'Chocolade')
(38, 'Côte de Blaye')
(58, 'Escargots de Bourgogne')
(52, 'Filo Mix')
(71, 'Flotemysost')
(33, 'Geitost')
(15, 'Genen Shouyu')
(56, 'Gnocchi di nonna Alice')
(31, 'Gorgonzola Telino')
(6, "Grandma's Boysenberry Spread")
(37, 'Gravad lax')
(69, 'Gudbrandsdalsost')
(44, 'Gula Malacca')
(26, 'Gumbär Gummibärchen')
(22, "Gustaf's Knäckebröd")
(10, 'Ikura')
(36, 'Inlagd Sill')
(43, 'Ipoh Coffee')
(41, "Jack's New England Clam Chowder")
(13, 'Konbu')
(76, 'Lakkalikööri')
(67, 'Laughing Lumberjack Lager')
(74, 'Longlife Tofu')
(65, 'Louisiana Fiery Hot Pepper Sauce')
(66, 'Louisiana Hot Spiced Okra')
(51, 'Manjimup Dried Apples')
(32, 'Mascarpone Fabioli')
(49, 'Maxilaku')
(72, 'Mozzarella di Giovanni')
(30, 'Nord-Ost Matjeshering')
(8, 'Northwoods Cranberry Sauce')
(25, 'NuNuCa Nuß-Nougat-Creme')
(77, 'Original Frankfurter grüne Soße')
(70, 'Outback Lager')
(16, 'Pavlova')
(55, 'Pâté chinois')
(11, 'Queso Cabrales')
(12, 'Queso Manchego La Pastora')
(59, 'Raclette Courdavault')
(57, 'Ravioli Angelo')
(75, 'Rhönbräu Klosterbier')
(45, 'Rogede sild')
(73, 'Röd Kaviar')
(34, 'Sasquatch Ale')
(27, 'Schoggi Schokolade')
(68, 'Scottish Longbreads')
(20, "Sir Rodney's Marmalade")
(21, "Sir Rodney's Scones")
(61, "Sirop d'érable")
(46, 'Spegesild')
(35, 'Steeleye Stout')
(62, 'Tarte au sucre')
(19, 'Teatime Chocolate Biscuits')
(14, 'Tofu')
(54, 'Tourtière')
(23, 'Tunnbröd')
(7, "Uncle Bob's Organic Dried Pears")
(50, 'Valkoinen suklaa')
(63, 'Vegie-spread')
(64, 'Wimmers gute Semmelknödel')
(47, 'Zaanse koeken')

In [17]:
import sqlite3
con=sqlite3.connect("Northwind.db")
def fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute("select ProductName,UnitPrice from Products order by UnitPrice Desc")
    rows=cursorObj.fetchall()
    for row in rows:
        print(row)
fetch(con)

('Côte de Blaye', 263.5)
('Thüringer Rostbratwurst', 123.79)
('Mishi Kobe Niku', 97)
("Sir Rodney's Marmalade", 81)
('Carnarvon Tigers', 62.5)
('Raclette Courdavault', 55)
('Manjimup Dried Apples', 53)
('Tarte au sucre', 49.3)
('Ipoh Coffee', 46)
('Rössle Sauerkraut', 45.6)
('Schoggi Schokolade', 43.9)
('Vegie-spread', 43.9)
('Northwoods Cranberry Sauce', 40)
('Alice Mutton', 39)
('Queso Manchego La Pastora', 38)
('Gnocchi di nonna Alice', 38)
('Gudbrandsdalsost', 36)
('Mozzarella di Giovanni', 34.8)
('Camembert Pierrot', 34)
('Wimmers gute Semmelknödel', 33.25)
('Perth Pasties', 32.8)
('Mascarpone Fabioli', 32)
('Gumbär Gummibärchen', 31.23)
('Ikura', 31)
("Uncle Bob's Organic Dried Pears", 30)
("Sirop d'érable", 28.5)
('Gravad lax', 26)
('Nord-Ost Matjeshering', 25.89)
("Grandma's Boysenberry Spread", 25)
('Pâté chinois', 24)
('Tofu', 23.25)
("Chef Anton's Cajun Seasoning", 22)
('Flotemysost', 21.5)
("Chef Anton's Gumbo Mix", 21.35)
('Louisiana Fiery Hot Pepper Sauce', 21.05)
('Queso Cabrales', 21)
("Gustaf's Knäckebröd", 21)
('Maxilaku', 20)
('Ravioli Angelo', 19.5)
('Gula Malacca', 19.45)
('Chang', 19)
('Inlagd Sill', 19)
('Boston Crab Meat', 18.4)
('Chai', 18)
('Steeleye Stout', 18)
('Chartreuse verte', 18)
('Lakkalikööri', 18)
('Pavlova', 17.45)
('Louisiana Hot Spiced Okra', 17)
('Valkoinen suklaa', 16.25)
('Genen Shouyu', 15.5)
('Outback Lager', 15)
('Röd Kaviar', 15)
('NuNuCa Nuß-Nougat-Creme', 14)
('Sasquatch Ale', 14)
('Singaporean Hokkien Fried Mee', 14)
('Laughing Lumberjack Lager', 14)
('Escargots de Bourgogne', 13.25)
('Original Frankfurter grüne Soße', 13)
('Chocolade', 12.75)
('Gorgonzola Telino', 12.5)
('Scottish Longbreads', 12.5)
('Spegesild', 12)
('Aniseed Syrup', 10)
("Sir Rodney's Scones", 10)
('Longlife Tofu', 10)
("Jack's New England Clam Chowder", 9.65)
('Rogede sild', 9.5)
('Zaanse koeken', 9.5)
('Teatime Chocolate Biscuits', 9.2)
('Tunnbröd', 9)
('Rhönbräu Klosterbier', 7.75)
('Tourtière', 7.45)
('Filo Mix', 7)
('Konbu', 6)
('Guaraná Fantástica', 4.5)
('Geitost', 2.5)

In [18]:
import sqlite3
con=sqlite3.connect("Northwind.db")
def fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute("select ProductID,ProductName,UnitPrice from Products WHERE (((UnitPrice)<20) AND ((Discontinued)=False)) Order by UnitPrice Desc")
    rows=cursorObj.fetchall()
    for row in rows:
        print(row)
fetch(con)

(57, 'Ravioli Angelo', 19.5)
(44, 'Gula Malacca', 19.45)
(2, 'Chang', 19)
(36, 'Inlagd Sill', 19)
(40, 'Boston Crab Meat', 18.4)
(1, 'Chai', 18)
(35, 'Steeleye Stout', 18)
(39, 'Chartreuse verte', 18)
(76, 'Lakkalikööri', 18)
(16, 'Pavlova', 17.45)
(66, 'Louisiana Hot Spiced Okra', 17)
(50, 'Valkoinen suklaa', 16.25)
(15, 'Genen Shouyu', 15.5)
(70, 'Outback Lager', 15)
(73, 'Röd Kaviar', 15)
(25, 'NuNuCa Nuß-Nougat-Creme', 14)
(34, 'Sasquatch Ale', 14)
(67, 'Laughing Lumberjack Lager', 14)
(58, 'Escargots de Bourgogne', 13.25)
(77, 'Original Frankfurter grüne Soße', 13)
(48, 'Chocolade', 12.75)
(31, 'Gorgonzola Telino', 12.5)
(68, 'Scottish Longbreads', 12.5)
(46, 'Spegesild', 12)
(3, 'Aniseed Syrup', 10)
(21, "Sir Rodney's Scones", 10)
(74, 'Longlife Tofu', 10)
(41, "Jack's New England Clam Chowder", 9.65)
(45, 'Rogede sild', 9.5)
(47, 'Zaanse koeken', 9.5)
(19, 'Teatime Chocolate Biscuits', 9.2)
(23, 'Tunnbröd', 9)
(75, 'Rhönbräu Klosterbier', 7.75)
(54, 'Tourtière', 7.45)
(52, 'Filo Mix', 7)
(13, 'Konbu', 6)
(33, 'Geitost', 2.5)

In [19]:
import sqlite3
con=sqlite3.connect("Northwind.db")
def fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute("select avg(UnitPrice) from Products")
    rows=cursorObj.fetchall()
    for row in rows:
        print(row)
fetch(con)

(28.866363636363637,)

In [21]:
import sqlite3
from sqlite3 import Error
import tkinter
from tkinter import *


con=sqlite3.connect('Book.db')
cursorObj=con.cursor()
cursorobj.execute("INSERT INTO Table1 VALUES(1,'Calculus','Aanton','howard',2019,1000,350,'Yes')")
cursorobj.execute("INSERT INTO Table1 VALUES(2,'English','Henry','Selvister',2017,800,250,'Yes')")
cursorobj.execute("INSERT INTO Table1 VALUES(3,'ICT','George','David',2016,900,350,'Yes')")
cursorobj.execute("INSERT INTO Table1 VALUES(4,'Progarmming Fundamental','Alis','Bag',206,1500,400,'Yes')")
cursorobj.execute("INSERT INTO Table1 VALUES(5,'Basic Electronics','Mark','Davis',2018,1000,180,'No')")
con.commit()

window=Tk()
window.title("BOOKS")
window.geometry("800x300")
window.resizable(0,0)

headLbl=Label(window,text="DIFFERENT QUERIES",font=("Arial",30,"bold"))
headLbl.pack(pady=10)
selectQuery=StringVar()
updateQuery=StringVar()
selectBookQuery=StringVar()
softAvailQuery=StringVar()


frame=Frame(window)
frame.pack()
lbl1=Label(frame,text="Select wrt ID",font=10,relief='sunken',width=20)
lbl1.grid(row=0,column=0)
cursorObj.execute("Select bookTitle from Table1 where BookId='5'")
query1=cursorObj.fetchall()
selectQuery.set(query1)
lbl2=Label(frame,textvariable=selectQuery,font=8)
lbl2.grid(row=0, column=1)

lbl=Label(frame,text="Update",font=10,relief='sunken',width=20)
lbl.grid(row=2,column=0)
cursorObj.execute("UPDATE Table1 SET bookAuthor='Perkovic' where BookId=3")
cursorObj.execute("Select * FROM Table1 where BookId=3")
query2=cursorObj.fetchall()
updateQuery.set(query2)
lbl3=Label(frame,textvariable=updateQuery,font=8)
lbl3.grid(row=2, column=1)

lbl=Label(frame,text="Select All",font=10,relief='sunken',width=20)
lbl.grid(row=3,column=0)
cursorObj.execute("Select * from Table1 where bookTitle='Calculus' ")
query3=cursorObj.fetchall()
selectBookQuery.set(query3)
lbl4=Label(frame,textvariable=selectBookQuery,font=8)
lbl4.grid(row=3, column=1)

lbl=Label(frame,text="Availble Books",font=10,relief='sunken',width=20)
lbl.grid(row=4,column=0)
cursorObj.execute("SELECT bookTitle from Table1 where softcopyavailable='Yes'")
query4=cursorObj.fetchall()
softAvailQuery.set(query4)
lbl5=Label(frame,font=8,textvariable=softAvailQuery)
lbl5.grid(row=4, column=1)

window.mainloop()

NameError: name 'cursorobj' is not defined